@{
    ViewBag.Title = "Index";
}
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>@ViewBag.sum1</h1>
                    <span>Orders</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>@ViewBag.sum2</h1>
                    <span>Unprocessed order</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>@ViewBag.sum3</h1>
                    <span>Orders wait Stock</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>@ViewBag.sum4</h1>
                    <span>Orders Success</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>@ViewBag.sum5</h1>
                    <span>Orders Cancel</span>
                </div>
                <div>
                    <span style="color:white" class="las la-shopping-bag"></span>
                </div>
            </div>
        </div>
    </main>


